<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\planoprofissional.css" />
    <title>Hydria</title>
  </head>
  <body>
    <!-- incluindo header -->
    <%- include("../partial/header") %>
    <main>
      <aside class="home-container"></aside>

      <aside class="newsletter-box">
        <section class="newsletter-cont">
          <p class="content-not2">
            <b
              >A Fonte Definitiva de Inteligência para o Setor de Água e
              Saneamento</b
            >
            <br />
            <br />
            Vá além do acesso à informação e assuma uma posição de liderança com
            o Plano Profissional, a solução mais completa para instituições e
            especialistas que moldam o futuro do setor. Este plano foi
            meticulosamente elaborado para fornecer não apenas dados, mas um
            ecossistema de ferramentas estratégicas que impulsionam decisões,
            conectam influenciadores e amplificam impactos. Aqui, a informação
            técnica se transforma em vantagem competitiva tangible.
          </p>
        </section>
      </aside>

      <section class="plans-advantages">
        <aside class="advantages-content">
          <p class="content-not">
            <b
              >Ao assinar o Plano Apoiador, você recebe TUDO do plano gratuito,
              MAIS:</b
            >
            <br />
            <br />
            <b>Relatórios Mensais Exclusivos:</b>
            <br />
            Análises técnicas aprodundadas com dados setoriais, tendências de
            mercado e estudos de caso aplicáveis.
            <br />
            <br />
            <b>Acesso a Dados Privilegiados:</b>
            <br />
            Painel interativo com indicadores atualizados de cobertura,
            investimentos e desempenho do setor de saneamento.
            <br />
            <br />
            <b>Comunidade Profissional Restrita:</b>
            <br />
            Participação em fórum exclusivo para networking estratégico com
            lideranças e especialistas da área.
            <br />
            <br />
            <b>Vantagens em Desenvolvimento:</b>
            <br />
            Descontos em certificações, cursos técnicos e workshops para
            capacitação da sua equipe.
            <br />
            <br />
            <b>Visibilidade Institucional:</b>
            <br />
            Direito a 1 publicação patrocinada anual no portal para divulgação
            de conteúdo técnico ou institucional.
            <br />
            <br />
            <b>Suporte Prioritário:</b>
            <br />
            Atendimento dedicado para auxiliar na utilização dos dados e
            recursos disponíveis.
          </p>
        </aside>
      </section>
      <aside class="final-container">
        <a href="newsletter"><button class="btn">INSCREVA-SE</button></a>
      </aside>
    </main>
    <%- include("../partial/footer.ejs") %>
  </body>
</html>
