<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="..\css\planoapoiador.css" />
    <title>Hydria</title>
  </head>
  <body>
    <!-- incluindo header -->
    <%- include("../partial/header") %>
    <main>
      <aside class="home-container"></aside>

      <aside class="newsletter-box">
        <section class="newsletter-cont">
          <p class="content-not2">
            <b> Mergulhe Fundo na Causa e Ganhe Visibilidade.</b>
            <br />
            <br />
            Você já é umentusiasta da causa da água e saneamento? Este plano é
            para quem quer ir além da superfície e se tornar uma voz ativa e
            reconhecida nessa jornada. Como Apoiador, você não apenas acessa o
            melhor conteúdo, mas financia a produção de conhecimento e ganha
            ferramentas para amplificar seu impacto. É a escolha perfeita para
            profissionais, pesquisadores, empresas e líderes comprometidos em
            liderar a transformação.
          </p>
        </section>
      </aside>

      <section class="plans-advantages">
        <aside class="advantages-content">
          <p class="content-not">
            <b></b>
              Ao assinar o Plano Apoiador, você recebe TUDO do plano gratuito,
              MAIS:</b
            >
            <br />
            <br />
            <b>Relatórios Exclusivos Mensais:</b>
            <br />
            Acesso a análises aprofundadas, dados setoriais inéditos e pesquisas
            exclusivas. Tome decisões baseadas em informações de alto nível que
            vão além do noticiário convencional.
            <br />
            <br />
            <b>Biblioteca de E-books Temáticos:</b>
            <br />
            Tenha uma coleção crescente de guias completos sobre tópicos
            essenciais, como "Tecnologias para Saneamento Rural" ou "Gestão
            Hídrica em Centros Urbanos". Conhecimento estruturado para você
            dominar os detalhes da causa.
            <br />
            <br />
            <b>Acesso Ilimitado à Biblioteca de Webinars:</b>
            <br />
            Reviva ou assista pela primeira vez a todos os nossos eventos online
            passados. Uma verdadeira imersão em mais de [ex: 50] horas de
            conteúdo especializado, disponível 24/7 para seus estudos.
            <br />
            <br />
            <b>Selo Digital de"Apoiador da ODS 6":</b>
            <br>
            Receba um selo personalizado para compartilhar em suas redes
            sociais, site assinatura de email. Mostre ao mundo seu compromisso
            com um dos Objetivos de Desenvolvimento Sustentável da ONU e inspire
            outros a seguirem seu exemplo.
            <br />
            <br />
            <b>Acesso Antecipado e Descontos:</b>
            <br>
            Seja o primeiro a saber de cursos, eventos pagos e produtos
            exclusivos da nossa plataforma, com condições especiais reservadas
            para você.
          </p>
        </aside>
      </section>
      <aside class="final-container">
        <a href="newsletter"><button class="btn">INSCREVA-SE</button></a>
      </aside>
    </main>
    <%- include("../partial/footer.ejs") %>
  </body>
</html>
