<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400"
    />
    <link rel="stylesheet" href="..\css\suporte-adm.css" />
    <title>Hydria-ADM</title>
  </head>
  <body>
    <%- include("../partial/header-adm") %>

    <main>

            <h1 class="tittle">SUPORTE</h1>
            <p class="content-not">Visualizar e responder mensagens dos usuários.</p>

        <section class="user-list-section">
            <span class="table-container">
                <table class="data-table users-table">
                    <tbody>
                        <tr>
                            <td><b>ID</b></td>
                            <td>#00000</td>
                        </tr>
                        <tr>
                            <td><b>DE</b></td>
                            <td>Beatriz Oliveira</td>
                        </tr>
                        <tr>
                            <td><b>ASSUNTO</b></td>
                            <td>Relatar problemas de vazamento <br>na rede pública</td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </section>

        <section class="user-list-section">
            <span class="table-container">
                <table class="data-table users-table">
                    <tbody>
                        <tr>
                            <td><b>ID</b></td>
                            <td>#00000</td>
                        </tr>
                        <tr>
                            <td><b>DE</b></td>
                            <td>João Santos</td>
                        </tr>
                        <tr>
                            <td><b>ASSUNTO</b></td>
                            <td>Solicitar informação sobre filtros <br>de água</td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </section>

        <section class="user-list-section">
            <span class="table-container">
                <table class="data-table users-table">
                    <tbody>
                        <tr>
                            <td><b>ID</b></td>
                            <td>#00000</td>
                        </tr>
                        <tr>
                            <td><b>DE</b></td>
                            <td>Carlos Moura</td>
                        </tr>
                        <tr>
                            <td><b>ASSUNTO</b></td>
                            <td>Relatar sobre acúmulo de lixo</td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </section>
        <%- include("../partial/footer") %> 
    </main>
  </body>
</html>
